@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Creating and sharing your own website has never been this easy! Check out My Pages to get started.</p>
</div>